@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    position: sticky;
    top: 0;

}
.nav-bar ul {
    display: flex;    
}
.nav-bar ul li {
    list-style-type: none;
}
.nav-bar ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
.nav-bar ul li a:hover {
    background:deepskyblue;
}
.color-text {
    color: deepskyblue;
}
.logo {
    font-family: 'Lobster', cursive;
}
.header {
    background: url('img/pexels-michael-block-3225517.jpg');
    height: 95vh; 
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center; */
}
.header div {
    color: white;
    background: rgba(0, 0, 0, 0.7); 
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    
}
.heading {
    font-size: 4rem;
    margin-bottom: 0.6rem;
}
.p-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.btn {
    background: deepskyblue;
    color: white;
    padding: 0.7rem;
    border: none;
    width: 7rem;
}   
#services {
    display: flex;
    flex: 1;
}
.container {
    margin: 10px auto;
    width: 74rem;
}
.services-h1 {
    text-align: center;
}
.p-cards {
    font-size: 1rem;
    margin: 10px auto;
}
.cards {
    font-family: 'Noto Sans JP', sans-serif;
    text-align:center;
    padding: 1.3rem;
}
.cards i {
    background: deepskyblue;
    padding: 2.1rem;
    border-radius: 4rem;
}
#about {
    background: url(img/pexels-myicahel-tamburini-2043739.jpg);
    height: 70vh;
    background-size: cover;
}
.about-div {
    background: rgba(0,0,0,0.6);
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.about-h1 {
    color: white;
    text-align: center;
    padding: 10rem 6rem 0 45rem;
    font-size: 2.5rem;
}
.about-p {
    color: white;
    text-align: right;
    padding: 1rem 7.6rem 0 60rem;
}
.about-btn {
    margin: 1rem 7.6rem 0 0;
    float: right;
    padding: 0.5rem;
}
#img {
    background: url('img/undraw_unlock_24mb.png');
    height: 100vh;
    background-size: cover;
    height: 40rem;
    width: 50rem;
}
.form {
    text-align: right;
    margin-left: 50rem;
    margin-top: 9.5rem;
   
}
input {
    height: 3.5rem;
    width: 30rem;
    border: 10px solid deepskyblue;
    font-family: 'Roboto', sans-serif;
} 
.contact-h1 {
    font-size: 3rem;
    color: #00bfff; 
    text-align: right;

}
.submit-btn{
    background-color: deepskyblue;
    padding: 0.7rem;
    margin-top: 1rem;
    border: none;
} 
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 1rem;
}



   